<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link  rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css" />
    <link  rel="stylesheet" type="text/css" href="~/custom/css/style.css" />

</head>
<body>
    <div class="row">
        <div class="col-md-3 px-5">
            <p class="py-3">
                <img class="img-fluid" alt="Logo" src="" />
            </p>
        </div>
        <div class="col-md-9 p-5">
            @RenderBody()
        </div>
    </div>
    
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>